<div class="jumbotron jumbotron-fluid">
  <img src="assets/img/riceLogo.png" alt="rice logo" class="img-fluid riceLogo">
  <div class="container heroTxt">
    <h1 class="display-4" align="center">
      ROI Calculator
    </h1>
    <p>

    </p>
  </div>
</div>
<div class="container mb-2">
  <div class="row">
    <div class="col" align="center">
      <h2 >Return On Investment Calculator</h2>
      <br>
      <h4>
        We are assisting industry in assessing the cost benefit of implementing a hydrogen unit through developing a return on investment calculator. The application calculates available savings if the hydrogen unit is installed in a particular industrial process.
      </h4>
      <br>
      <p>
        To utilise the calculator users are required to input data on a range of factors relevant to their processes which include type of fuel currently used, price of the fuel, value of the oxygen and level of carbon tax currently being paid.
      </p>
      <br>
      <p>
        The calculator takes into account the available energy of the installation site and calculates the number of electrolysers which can be installed, their costs and the water requirements. It then calculates the estimated hydrogen and oxygen production. From this it is possible to calculate the fuel saving, the carbon tax reduction as a result of CO<sub>2</sub> emission savings and potential earnings through the oxygen production.
      </p>
      <br>
      <p>
        Based on these calculations the calculator is able to offset the savings and earnings against the costs of the units to predict an expected return on investment for the industrial process.
      </p>
      <br>
    </div>
  </div>
</div>

