<div class="row m-2 partnerRow">
  <div class="col-3">
    <img src="assets/img/erdfLogo.png" alt="erdf logo" class="img-fluid partnerLogo">
  </div>
  <div class="col-3">
    <img src="assets/img/swanLogoB.png" alt="erdf logo" class="img-fluid partnerLogo">
  </div>
  <div class="col-3">
    <img src="assets/img/esriLogo.png" alt="erdf logo" class="img-fluid partnerLogo">
  </div>
  <div class="col-3">
    <img src="assets/img/uswLogo.png" alt="erdf logo" class="img-fluid partnerLogo">
  </div>
</div>
