<div class="container-fluid" >
  <div class="row" *ngIf="barData">
    <div class="col bar">
      <app-bar
        [barColour]="'red'"
        [barName]="'Units'"
        [barData]="barData.units"
        [barLabel]="2"
        [barMax]="5">
      </app-bar>
    </div>
    <div class="col bar">
      <app-bar
        [barColour]="'orange'"
        [barName]="'cons'"
        [barData]="barData.consumption"
        [barLabel]="'kw/h'"
        [barMax]="10">
      </app-bar>
    </div>
    <div class="col bar">
      <app-bar
        [barColour]="'blue'"
        [barName]="'H20'"
        [barData]="barData.waterUsage"
        [barLabel]="'Kg'"
        [barMax]="10">
      </app-bar>
    </div>
    <div class="col bar">
      <app-bar
        [barColour]="'azure'"
        [barName]="'H2'"
        [barData]="40"
        [barLabel]="'litres'"
        [barMax]="100">
      </app-bar>
    </div>
    <div class="col bar">
      <app-bar
        [barColour]="'yellow'"
        [barName]="'O'"
        [barData]="4"
        [barLabel]="'Tons'"
        [barMax]="10">
      </app-bar>
    </div>
    <div class="col bar">
      <app-bar
        [barColour]="'brown'"
        [barName]="'Methane'"
        [barData]="2"
        [barLabel]="'T/Yr'"
        [barMax]="10">
      </app-bar>
    </div>
    <div class="col bar">
      <app-bar
        [barColour]="'black'"
        [barName]="'CO2'"
        [barData]="2"
        [barLabel]="'T/Yr'"
        [barMax]="10">
      </app-bar>
    </div>
    <div class="col bar">
      <app-bar
        [barColour]="'gray'"
        [barName]="'Gas Cost'"
        [barData]="barData.gasCost"
        [barLabel]="'Pence'"
        [barMax]="10">
      </app-bar>
    </div>
    <div class="col bar">
      <app-bar
        [barColour]="'green'"
        [barName]="'ROI'"
        [barData]="1.5"
        [barLabel]="'Yr'"
        [barMax]="5">
      </app-bar>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-bar-inputs (inputChange)="calcData($event)"></app-bar-inputs>
    </div>
  </div>
</div>
