<div class="container-fluid" >
  <div class="row" *ngIf="barData">
    <div class="col bar">
      <app-bar
        [barColour]="units.colour"
        [barName]="units.barName"
        [barData]="barData.units"
        [barLabel]="units.barLabel"
        [barMax]="units.barMax"
        [barMin]="units.barMin">
      </app-bar>
    </div>
    <!-- <div class="col bar">
      <app-bar
        [barColour]="consumption.colour"
        [barName]="consumption.barName"
        [barData]="barData.consumption"
        [barLabel]="consumption.barLabel"
        [barMax]="consumption.barMax"
        [barMin]="consumption.barMin">
      </app-bar>
    </div> -->
    <div class="col bar">
      <app-bar
        [barColour]="water.colour"
        [barName]="water.barName"
        [barData]="barData.waterUsage"
        [barLabel]="water.barLabel"
        [(barMax)]="water.barMax"
        [barMin]="water.barMin">
      </app-bar>
    </div>
    <div class="col bar">
      <app-bar
        [barColour]="h2Prod.colour"
        [barName]="h2Prod.barName"
        [barData]="barData.hydrogenProd"
        [barLabel]="h2Prod.barLabel"
        [barMax]="h2Prod.barMax"
        [barMin]="h2Prod.barMin">
      </app-bar>
    </div>
    <div class="col bar">
      <app-bar
        [barColour]="oProd.colour"
        [barName]="oProd.barName"
        [barData]="barData.oxygenProd"
        [barLabel]="oProd.barLabel"
        [barMax]="oProd.barMax"
        [barMin]="oProd.barMin">
      </app-bar>
    </div>
    <div class="col bar">
      <app-bar
        [barColour]="methaneCons.colour"
        [barName]="methaneCons.barName"
        [barData]="barData.fuelSavings"
        [barLabel]="methaneCons.barLabel"
        [barMax]="methaneCons.barMax"
        [barMin]="methaneCons.barMin">
      </app-bar>
    </div>
    <div class="col bar">
      <app-bar
        [barColour]="co2Prod.colour"
        [barName]="co2Prod.barName"
        [barData]="barData.carbonProd"
        [barLabel]="co2Prod.barLabel"
        [barMax]="co2Prod.barMax"
        [barMin]="co2Prod.barMin">
      </app-bar>
    </div>
    <!-- <div class="col bar">
      <app-bar
        [barColour]="gasCost.colour"
        [barName]="gasCost.barName"
        [barData]="barData.gasCost"
        [barLabel]="gasCost.barLabel"
        [barMax]="gasCost.barMax"
        [barMin]="gasCost.barMin">
      </app-bar>
    </div> -->
    <div class="col bar">
      <app-bar
        [barColour]="roi.colour"
        [barName]="roi.barName"
        [barData]="barData.roi"
        [barLabel]="roi.barLabel"
        [barMax]="roi.barMax"
        [barMin]="roi.barMin">
      </app-bar>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-bar-inputs (inputChange)="calcData($event)"></app-bar-inputs>
    </div>
  </div>
</div>
